.blog-card{
    display: flex;
    flex-direction: column;
    margin: map-get($blogs, margin);
    &-title{
        display: flex;
        align-items: start;
        justify-content: space-between;
        a{
            color: black;
            text-decoration: none;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }
        a:hover{
            color: map-get($blogs, text_color_hover);
            text-decoration: underline;
        }
        &-date{
            display: inline-block;
            align-self: end;
        }
    }
    &-text{
        margin: map-get($blogs,text_margin);
    }
    &-readmore{
        margin: map-get($blogs,readmore_margin);
        a{
            color: map-get($blogs, text_color_hover);
            text-decoration: none;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }
        a:hover{
            color: map-get($blogs, text_color_hover_2);
            text-decoration: underline;
        }
    }
    &-tags{
        list-style-type: none;
        margin: map-get($blogs,tags_margin);
        li{
            display: inline;
             margin: map-get($blogs,tag_margin);
        }
        span{
            padding: map-get($blogs,tag_padding);
            background-color: map-get($blogs, text_background);
            border-radius: 6rem;
            box-shadow: map-get($blogs,box_shadow_1), map-get($blogs,box_shadow_2);

            color: map-get($blogs, text_color_hover_2);
            text-decoration: none;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }
    }
    &-hr{
        width: 95%;
        margin: 10px auto 10px auto;
        height: 2px;
        color : #999;
        background-color: #999;
        border-width:0;
        border-radius: 10px;
    }

}