button.ico-button{
    font-size: 1.0em;
    display: inline;
    text-align: center;
    border: 1px solid #cccccc; 
    border-radius: 10px; 
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    -webkit-transition: all 0.5s; /* add this line, chrome, safari, etc */
    -moz-transition: all 0.5s; /* add this line, firefox */
    -o-transition: all 0.5s; /* add this line, opera */
    transition: all 0.5s;
    &.Github{   
        background-color: #6e5494;
        color: white;
    }
    &.RSS{
        background-color: #f26522;
        color: white;
    }
    &:hover{
        opacity: 0.7;
    }
}